<header><a href="/carts/" class="cart-icon">🛒</a></header>

<h1>Products</h1>
<div class="sort-container">
  <label for="sort-select">Sort by price:</label>
  <select id="sort-select">
    <option value="asc">Ascending</option>
    <option value="desc">Descending</option>
  </select>
</div>
<div id="products-container">
  {{#if products.length}}
    {{#each products}}
      <div class="product-card">
        <a href="/products/{{this._id}}" class="product-link">
        <h2>{{this.title}}</h2>
        <p>Description: {{this.description}}</p>
        <p>Code: {{this.code}}</p>
        <p>Price: ${{this.price}}</p>
        <p>Status:
          <span>
            {{#if this.status}}Available{{else}}Not available{{/if}}
          </span>
        </p>
        <p>Stock: {{this.stock}}</p>
        <p>Category: {{this.category}}</p>
        </a>
</div>
    {{/each}}
  {{else}}
    <p class="no-products">No products available</p>
  {{/if}}
  


<link rel="stylesheet" href="/css/stylesHome.css">
<script src="/socket.io/socket.io.js"></script> 
<script src="/js/productsMenu.js"></script>